{% extends "base.html" %}
{% block content %}
    <h2> Войти в проект </h2>
    <form action="" method="POST" novalidate>
        {{ form2.hidden_tag() }}
        <p>
            {{ form2.username.label }}<br>
            {{ form2.username(size=140) }}

            {% for error in form2.username.errors %}
                <span style="color: blue">[{{ error }}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form2.pasword.label }}<br>
            {{ form2.pasword(size=32) }}
            {% for error in form2.username.errors %}
                <span style="color: red">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form2.remember_me() }} {{ form2.remember_me.label }}
        </p>
        <p>{{ form2.submit() }}</p>
    </form>

{% endblock %}